################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dotel2/FileContentIndex/dc2ff4d6-396a-4176-9593-3d87ac414c64.vsidx
*.vsidx
/.vs
