<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dotel Cung cấp dịch vụ tìm kiếm nhà trọ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Cung cấp nhà trọ cho mọi người trên địa bàn Hòa Lạc" name="keywords">
    <meta content="" name="description">
    <link rel="icon" href="/img/index_img/Logo.png">
    <title>@ViewData["Title"] - Dotel2</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7PRS9560HY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7PRS9560HY');
    </script><!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7PRS9560HY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7PRS9560HY');
    </script>
</head>
<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>