@page
@model Dotel2.Pages.ForgotPassword.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="css/loginsignin.css" />
    <script src="https://kit.fontawesome.com/682f180637.js"
            crossorigin="anonymous"></script>
</head>
<body>
    <section class="userform">
    <!--Bắt Đầu Phần Hình Ảnh-->
    <div class="img-bg">
        <img src="img/signinlogin.png">
    </div>
    <!--Kết Thúc Phần Hình Ảnh-->
    <!--Bắt Đầu Phần Nội Dung-->
    <div class="noi-dung">
        <div class="form1">
            <h2>Xác minh tài khoản</h2>
            <form method="post" id="forgotPass">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMessage"]
                    </div>
                }
                <div class="input-form">
                    <span>Email đã đăng ký tài khoản</span>
                    <input type="text" name="username" id="email" required>
                </div>

                <div class="input-form">
                    <input style="background-color: sandybrown; color: black" type="submit" value="Gửi">
                </div>
                <div class="input-form">
                    <p><a href="register">Quay lại trang đăng ký</a> hoặc <a href="login">Đăng nhập</a></p>
                </div>

            </form>
        </div>
    </div>
    <!--Kết Thúc Phần Nội Dung-->
</section>
  </body>
</html>
<style>
    /* Định nghĩa lớp chung cho alert */
    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 16px;
    }

    /* Định nghĩa lớp cho alert-danger (Thông báo lỗi) */
    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    /* Định nghĩa lớp cho alert-success (Thông báo thành công) */
    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

</style>