@page
@model Dotel2.Pages.Admin.Rentals.DeleteModel
@{
    ViewData["Title"] = "Delete Rental";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Delete Rental</h1>"
        <h3> Xác nhận xoá phòng trọ? </h3>
        <form method="post">
            <div class="form-group
                <label asp-for="deleteRental.id" class="control-lable" type="hidden"></label>
                <input asp-for="deleteRental.id" class="form-control" readonly />
            </div>
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href="./Index"> Quay lại</a>
        </form>
    </div>
</body>
</html>